<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Layouts - 4</title>
</head>
<body>
    <link rel="stylesheet" href="./css_layouts/normalize.css">
    <link rel="stylesheet" href="./css_layouts/layout4_styles.css">
</head>
<body>
    
    <header class="header">
        <h1 class="titulo">Layout 4</h1>
    </header>
    
    <nav class="navegacion">
        <a class="boton" href="../grid_layouts.html">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back-up" width="32" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
               <path d="M9 13l-4 -4l4 -4m-4 4h11a4 4 0 0 1 0 8h-1" />
           </svg>
           layouts
       </a>
    </nav>

    
    <section class="layout-4">
        <div class="contenedor">
            <div class="elementos elemento1 encabezado">
                <h2>Elemento 1</h2>
            </div>
            <div class="elementos elemento2">
                <h2>Elemento 2</h2>
            </div>
            <div class="elementos elemento3">
                <h2>Elemento 3</h2>
            </div>
            
            <div class="elementos elemento4">
                <div class="sub-contenedor">
                    <div  class="sub-elemento sub1">
                        <h2>Sub elemento 1</h2>
                    </div>
                    <div class="sub-elemento sub2">
                        <h2>Sub elemento 2</h2>
                    </div>
                    <div class="sub-elemento sub3">
                        <h2>Sub elemento 3</h2>
                    </div>
                </div>  
            </div>
        </div>
    </section>



    <footer class="footer">
        <p>Desarrollado por <a href="mailto: A01783240@tec.mx?Subject=Pagina%20Web%20Tareas" target="_blank">Shaul Zayat Askenazi</a></p>
    </footer>
</body>
</html>
</body>
</html>